.catalog {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.catalog .details {
  width: 100px;
  display: flex;
  justify-content: center;
}
.catalog .details[open] .summary {
  color: red;
}
.catalog .details .summary::-webkit-details-marker {
  display: none;
}
.catalog .details .summary {
  display: flex;
}
.catalog .details .details1 {
  position: absolute;
  left: 100px;
}